{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Otro nombre sin definir</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">

            
        <!-- TODO -->
        <dropdo>
                <script src="http://d3js.org/d3.v3.js"></script>
                <script>
                d3.csv("areas.csv", function(error, data) {
                  var select = d3.select("dropdo")
                    .append("div")
                    .append("select")
              
                  select
                    .on("change", function(d) {
                      var value = d3.select(this).property("value");
                      alert(value);
                    });
              
                  select.selectAll("option")
                    .data(data)
                    .enter()
                      .append("option")
                      .attr("value", function (d) { return d.value; })
                      .text(function (d) { return d.label; });
                });
                </script>
        </dropdo>
        <input autocomplete="on" name="comida" class="mytext" placeholder="Nourriture" type="text" autofocus><br><br>
        <input autocomplete="on" name="pais" class="mytext" placeholder="Pays" type="text"><br><br>
        <input type="hidden" id="FieldID" name="FieldName" VALUE= {{ value }} /> 
        <br><br>
    
        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    
    <script src="http://d3js.org/d3.v3.js"></script>
    <script>
        /* TODO */
        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('input').value) {
                alert('You must provide your name!');
                return false;
            }
            else if (!document.querySelector('select').value) {
                alert('You must provide values!');
                return false;
            }
    

            return true;
        };

    </script>

{% endblock %}
