{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Nous voulons vous rencontrer</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">

        <!-- TODO -->
        <input autocomplete="on" name="comida" class="mytext" placeholder="Nourriture" type="text" autofocus><br><br>
        <input autocomplete="on" name="pais" class="mytext" placeholder="Pays" type="text"><br><br>
        <input autocomplete="off" name="color" class="mytext" placeholder="Couleur" type="hidden"><br><br>
    
        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>

        /* TODO */
        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('input').value) {
                alert('You must provide your name!');
                return false;
            }
            else if (!document.querySelector('select').value) {
                alert('You must provide values!');
                return false;
            }
            return true;
        };

    </script>

{% endblock %}
