{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Fill in the Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">

        <!-- TODO -->
        <input autocomplete="off" name="name" class="mytext" placeholder="Username" type="text" autofocus><br><br>
        <input autocomplete="off" name="nick" class="mytext" placeholder="Nicknames (optional)" type="text"><br><br>
        <input autocomplete="off" name="hobby" class="mytext" placeholder="Hobbies (optional)" type="text"><br><br>
        <input autocomplete="off" name="quote" class="mytext" placeholder="Favorite Quote (optional)" type="text"><br><br>

        <p>Are you Male or Female?</p>
        <input type="radio" name="gender" value="Male"> Male<br>
        <input type="radio" name="gender" value="Female"> Female<br>
        <input type="radio" name="gender" value="Anon"> Anon<br><br>

        <select name="size">
            <option disabled selected value="Favorite Game Size">Favorite Game Size</option>
            <option value="5p">5p</option>
            <option value="6p">6p</option>
            <option value="7p">7p</option>
            <option value="8p">8p</option>
            <option value="9p">9p</option>
            <option value="10p">10p</option>
        </select><br><br>

        <select name="role">
            <option disabled selected value="Favorite Role">Favorite Role</option>
            <option value="Merlin">Merlin</option>
            <option value="Percival">Percival</option>
            <option value="VT">VT</option>
            <option value="Morgana">Morgana</option>
            <option value="Assassin">Assassin</option>
            <option value="Spy">Spy</option>
            <option value="Mordred">Mordred</option>
            <option value="Oberon">Oberon</option>
        </select><br><br>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>

        /* TODO */
        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('input').value) {
                alert('You must provide your name!');
                return false;
            }
            else if (!document.querySelector('select').value) {
                alert('You must provide values!');
                return false;
            }
            return true;
        };

    </script>

{% endblock %}
